*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div{
    margin-top: 0.4rem;
    padding-top: 0.6rem;
    height: 200px;
    background-color: aqua;
}
#head{
    height: 70px;
}
#head>h1{
    color: antiquewhite;
}

#content{
    background-color: brown;
}

#footer>p{
    color: cadetblue;
}